---
import BasicButton from '@components/BasicButton/BasicButton.vue';
import LinkBasic from '@components/LinkBasic/LinkBasic.vue';
import Layout from '@layouts/Layout.astro';
---

<Layout title="article">
	<main>
		<h1>Article</h1>
    <p>global 変数テスト</p>
		<LinkBasic client:visible href="/article/detail">detail</LinkBasic>
		<BasicButton client:load>ボタン</BasicButton>
		<img src="/assets/img/sample.png" alt="">
	</main>
</Layout>

<style lang="scss">
  @import '../../assets/css/global';

  p {
    color: $red;
  }

  main {
    width: 800px;
    max-width: calc(100% - 2rem);
    padding: 1rem;
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
