---
import Layout from '@layouts/Layout.astro';
import BasicButton from '@components/BasicButton/BasicButton.vue';
import LinkBasic from '@components/LinkBasic/LinkBasic.vue';
---

<Layout title="article">
	<main>
		<h1>Article</h1>
		<LinkBasic client:visible href="/article/detail">detail</LinkBasic>
		<BasicButton client:load>ボタン</BasicButton>
		<img src="/assets/img/sample.png" alt="">
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
