---
import BasicButton from '../components/BasicButton/BasicButton.vue';
import Layout from '../layouts/Layout.astro';
import LinkBasic from '@components/LinkBasic/LinkBasic.vue';
---

<Layout title="トップ">
	<main>
		<h1>トップ</h1>
		<LinkBasic client:visible href="/article">article</LinkBasic>
		<BasicButton client:load>ボタン</BasicButton>
		<img src="/assets/img/sample.png" alt="">
	</main>
</Layout>

<style lang="scss">
  main {
    width: 800px;
    max-width: calc(100% - 2rem);
    padding: 1rem;
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
