---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import BasicButton from '../components/BasicButton.vue';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>テスト</h1>
		<BasicButton client:load>ボタン</BasicButton>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
